html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body.light {
  --bg: white;
  --color-heading: #1e202a;
  --color-text: #63687e;
  --color-card-bg: #f0f2fa;
  --color-card-bg-hover: #e5e8f6;
  --color-card-title: #63687e;
  --color-toggle: #aeb3cb;
}

body.dark {
  --bg: #1e202a;
  --color-heading: #ffffff;
  --color-text: #8b97c6;
  --color-card-bg: #252a41;
  --color-card-bg-hover: #323958;
  --color-card-title: #63687e;
  --color-toggle: linear-gradient(90deg, #378fe6, #3eda82);
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1;
  background-color: var(--bg);
  font-weight: 400;
  position: relative;
}

body.light:before {
  content: '';
  position: absolute;
  z-index: -1;
  height: 246px;
  width: 100%;
  background-color: #f5f7ff;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

@media (min-width: 992px) {
  body.light:before {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 28px;
  }
}

h1 {
  font-size: 25px;
  font-weight: 700;
  color: var(--color-heading);
}

@media (min-width: 992px) {
  h1 {
    font-size: 28px;
  }
}

h2 {
  padding: 50px 0 20px 0;
  font-size: 23px;
  font-weight: 700;
  color: var(--color-heading);
}

.card, .card-small {
  color: var(--color-text);
}

span.subtitle {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-text);
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-text);
}

@media (min-width: 992px) {
  span.subtitle {
    border-bottom: 0 none;
  }
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-family: 'Inter', sans-serif;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
  position: absolute;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 55px;
  height: 26px;
  display: block;
  border-radius: 30px;
  position: relative;
  top: -5px;
  background-image: linear-gradient(90deg, #378fe6, #3eda82);
}

label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: var(--bg);
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: var(--color-toggle);
}

input:checked + label:after {
  left: calc(100% - 3px);
  transform: translateX(-100%);
}

label:active:after {
  width: 30px;
}

.onoffswitch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 23px 0 40px 0;
}

.onoffswitch span {
  font-weight: bold;
  padding: 0;
  height: 23px;
  color: var(--color-heading);
}

@media (min-width: 992px) {
  .onoffswitch span {
    padding: 0 2px;
  }
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  border: 0px solid red;
  padding: 0 20px;
}

.cards-top {
  display: flex;
  /* or inline-flex */
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width: 376px) {
  .cards-top {
    flex-direction: row;
  }
}

.cards-top .instagram:before {
  background: #b37106;
  background: -moz-linear-gradient(left, #b37106 0%, #942c62 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #b37106), color-stop(100%, #942c62));
  background: -webkit-linear-gradient(left, #b37106 0%, #942c62 100%);
  background: -o-linear-gradient(left, #b37106 0%, #942c62 100%);
  background: -ms-linear-gradient(left, #b37106 0%, #942c62 100%);
  background: linear-gradient(to right, #b37106 0%, #942c62 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b37106', endColorstr='#942c62', GradientType=1 );
}

.cards-top .facebook:before {
  background: deepskyblue;
}

.cards-top .twitter:before {
  background: #1ca0f2;
}

.cards-top .youtube:before {
  background: #c4032a;
}

.cards-top .card:before {
  content: '';
  height: 5px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
}

.cards-top .facebook .social:before {
  background-image: url("images/icon-facebook.svg") !important;
}

.cards-top .twitter .social:before {
  background-image: url("images/icon-twitter.svg") !important;
}

.cards-top .instagram .social:before {
  background-image: url("images/icon-instagram.svg") !important;
}

.cards-top .youtube .social:before {
  background-image: url("images/icon-youtube.svg") !important;
}

.cards-top .card {
  margin: 10px 0;
  position: relative;
  background: var(--color-card-bg);
  flex-basis: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}

@media (min-width: 376px) {
  .cards-top .card {
    flex-basis: 49%;
  }
}

@media (min-width: 768px) {
  .cards-top .card {
    flex-basis: 23%;
  }
}

.cards-top .card .wrapper {
  padding: 26px 0;
  overflow: hidden;
}

.cards-top .card .wrapper span {
  display: block;
  text-align: center;
}

.cards-top .card .wrapper .social {
  font-weight: 700;
}

.cards-top .card .wrapper .social:before {
  content: '';
  display: inline-block;
  position: relative;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  top: 6px;
  left: -5px;
}

.cards-top .card .wrapper .social, .cards-top .card .wrapper .number-status {
  font-size: 12px;
  position: relative;
  font-weight: 700;
}

.cards-top .card .wrapper .number {
  font-size: 30px;
  font-size: 3rem;
  padding: 24px 0 7px 0;
  color: var(--color-heading);
}

.cards-top .card .wrapper .number-text {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 0 0 23px 0;
}

.cards-bottom {
  display: flex;
  /* or inline-flex */
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width: 376px) {
  .cards-bottom {
    flex-direction: row;
  }
}

.cards-bottom .card-small {
  background: var(--color-card-bg);
  flex-basis: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  height: 126px;
}

@media (min-width: 376px) {
  .cards-bottom .card-small {
    flex-basis: 49%;
  }
}

@media (min-width: 768px) {
  .cards-bottom .card-small {
    flex-basis: 23%;
  }
}

.cards-bottom .card-small .wrapper {
  padding: 26px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cards-bottom .card-small .wrapper .card-header {
  font-weight: bold;
  font-size: 85%;
  flex-basis: 100%;
  padding-bottom: 26px;
}

.cards-bottom .card-small .wrapper .card-footer {
  border: 1px dotted black;
}

.cards-bottom .card-small .wrapper .number {
  flex-grow: 1;
  font-size: 20px;
  font-size: 2rem;
  margin-top: auto;
  color: var(--color-heading);
}

.cards-bottom .social .card-header:after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  float: right;
  background-repeat: no-repeat;
  background-position: center center;
}

.cards-bottom .facebook .card-header:after {
  background-image: url("images/icon-facebook.svg");
}

.cards-bottom .instagram .card-header:after {
  background-image: url("images/icon-instagram.svg");
}

.cards-bottom .twitter .card-header:after {
  background-image: url("images/icon-twitter.svg");
}

.cards-bottom .youtube .card-header:after {
  background-image: url("images/icon-youtube.svg");
}

.number {
  font-family: 'Inter';
  font-weight: 700;
}

header {
  padding: 40px 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 992px) {
  header {
    flex-direction: row;
  }
}

.number-status {
  margin-top: auto;
  font-size: 12px;
  position: relative;
  font-weight: 700;
}

.number-status:before {
  content: '';
  display: inline-block;
  position: relative;
  width: 10px;
  height: 7px;
  border: 0px solid red;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  left: -5px;
}

.card:hover, .card-small:hover {
  cursor: pointer;
  background-color: var(--color-card-bg-hover);
}

.green {
  color: #1db489;
}

.green:before {
  background-image: url("images/up-arrow.svg");
}

.red {
  color: #dc414c;
}

.red:before {
  background-image: url("images/down-arrow.svg");
}
