/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
.red{ color:red; }
.green{ color:green; }
.blue{ color:blue; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body[data-theme='light']{
	--bg: hsl(0, 0%, 100%);
	--color-heading:#ffffff;
	--color-text:#ffffff;
	--color-card-bg:hsl(225, 100%, 98%);
	--color-card-title:hsl(228, 12%, 44%);

}

body[data-theme='dark']{
	--bg: hsl(230, 17%, 14%);
	--color-heading:#ffffff;
	--color-text:#ffffff;
	--color-card-bg:hsl(228, 28%, 20%);
	--color-card-title:hsl(228, 12%, 44%);
}
body {
	font-family: 'Inter', sans-serif;
	line-height: 1;
	background-color: var(--bg);
	font-weight:400;
}
h1{
	font-size:28px;
	font-weight: 700;
	color: var(--color-heading);
}
.card, .card-small{
	color: var(--color-text);
}

.card{}

span.subtitle{
	display:block;
	padding-top:7px;
	font-size:14px;
	font-weight: 700;
	color: var(--color-text);
	opacity: 0.5;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1{
  font-family: 'Inter', sans-serif;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 200px;
	height: 100px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 90px;
	height: 90px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #bada55;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 130px;
}

.container{
	max-width: 1100px;
	margin: 0 auto;
	border: 0px solid red;
}

.cards-top{
	display: flex; /* or inline-flex */
	flex-direction: row;
	justify-content:space-between;

	.instagram:before{
		background: rgba(179,113,6,1);
		background: -moz-linear-gradient(left, rgba(179,113,6,1) 0%, rgba(148,44,98,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,113,6,1)), color-stop(100%, rgba(148,44,98,1)));
		background: -webkit-linear-gradient(left, rgba(179,113,6,1) 0%, rgba(148,44,98,1) 100%);
		background: -o-linear-gradient(left, rgba(179,113,6,1) 0%, rgba(148,44,98,1) 100%);
		background: -ms-linear-gradient(left, rgba(179,113,6,1) 0%, rgba(148,44,98,1) 100%);
		background: linear-gradient(to right, rgba(179,113,6,1) 0%, rgba(148,44,98,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b37106', endColorstr='#942c62', GradientType=1 );
	}
	.facebook:before{}
	.twitter:before{}
	.youtube:before{}
	
	.card:before{
		content:'';
		height:5px;
		width: 100%;
		position:absolute;
		left:0;
		top:0;
		right:0;
		z-index:100;
	}
	.card{
		position:relative;
		background:#efefef;/*var(--color-card-bg)*/;
		flex-basis: 23%;
		border-radius:5px;
		overflow: hidden;


		.facebook{
			border-top:4px solid hsl(195, 100%, 50%)
		}
		.twitter{
			border-top:4px solid hsl(203, 89%, 53%)
		}
		// .instagram{
		// 	border-top:4px solid hsl(203, 89%, 53%)
		// }
		.youtube{
			border-top:4px solid hsl(203, 89%, 53%)
		}
		.wrapper{
			// border-top:5px solid black;
			padding: 26px 0;
			overflow:hidden;

			span{
				display: block;
				text-align:center;
			}
			.social{
				font-weight: 700;
			}
			.social:before{
				content:'';
				display: inline-block;
				position: relative;
				width:22px;
				height:22px;
				// border:1px solid red;
				background-repeat:no-repeat;
				background-position: center center;
				position: relative;
				top:6px;
				left:-5px;
			}
			.facebook:before{
				background-image:url('images/icon-facebook.svg');
			}
			.twitter:before{
				background-image:url('images/icon-twitter.svg');
			}
			.insta:before{
				background-image:url('images/icon-instagram.svg');
			}
			.youtube:before{
				background-image:url('images/icon-youtube.svg');
			}
			.social,.number-status{
				font-size:12px;
				position: relative;
				font-weight:700;
			}

			.number-status:before{
				content:'';
				display: inline-block;
				position: relative;
				width:10px;
				height:7px;
				border:0px solid red;
				background-repeat:no-repeat;
				background-position: center center;
				position:relative;
				left:-5px;
			}

			.green{
				color: hsl(163, 72%, 41%);
			}
			.green:before{
				background-image:url('images/up-arrow.svg');
			}
			.red{
				color: hsl(356, 69%, 56%);
			}
			.red:before{
				background-image:url('images/down-arrow.svg');
			}
			.number{
				font-size:30px;
				font-size:3rem;
				padding:24px 0 7px 0;
			}
			.number-text{
				font-size: 12px;
				font-weight:400;
				text-transform: uppercase;
				letter-spacing: 4px;
				padding:0 0 23px 0;
			}
		}
		.card:before{

		}
	}
}

.cards-bottom{
	display: flex; /* or inline-flex */
	flex-direction: row;
	// border: 2px solid green;
	justify-content:space-between;
	flex-wrap:wrap;

	.card-small{
		// border:1px solid red;
		background:red;
		// background:var(--color-card-bg);
		flex-basis: 23%;
		margin-bottom: 20px;
		border-radius:5px;

		.wrapper{
			padding: 26px 0;
			.number{
				font-size:20px;
				font-size:2rem;
			}
		}
	}
}

.number{
	font-family:'Inter';
	font-weight:700;
}

header{
	padding-top:40px;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

html:before{
	content:'';
	position:absolute;
	z-index:-1;
	height: 246px;
	width: 100%;
	background-color: red/* hsl(0, 0%, 100%)*/;

}
