/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
.red{ color:red; }
.green{ color:green; }
.blue{ color:blue; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body[data-theme='light']{
	--bg: hsl(0, 0%, 100%);
	--color-heading:#ffffff;
	--color-text:#ffffff;
	--color-card-bg:hsl(225, 100%, 98%);
	--color-card-title:hsl(228, 12%, 44%);

}

body[data-theme='dark']{
	--bg: hsl(230, 17%, 14%);
	--color-heading:#ffffff;
	--color-text:#ffffff;
	--color-card-bg:hsl(228, 28%, 20%);
	--color-card-title:hsl(228, 12%, 44%);
}
body {
	line-height: 1;
	background-color: var(--bg);
}
h1{
	color: var(--color-heading);
}
.card, .card-small{
	color: var(--color-text);
}

.card{}

span.subtitle{
	color: var(--color-text);
	opacity: 0.5;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1{
  font-family: 'Inter', sans-serif;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 200px;
	height: 100px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 90px;
	height: 90px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #bada55;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 130px;
}

.container{
	max-width: 1100px;
	margin: 0 auto;
	border: 1px solid red;
}

.cards-top{
	display: flex; /* or inline-flex */
	flex-direction: row;
	border: 2px solid green;
	justify-content:space-between;
}
.card{
	border:0px solid red;
	background:var(--color-card-bg);
	padding: 30px;//////
}
