
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body.light{
	--bg: hsl(0, 0%, 100%);
	--color-heading:hsl(230, 17%, 14%);
	--color-text:hsl(228, 12%, 44%);
	--color-card-bg:hsl(227, 47%, 96%);
	--color-card-bg-hover:hsl(227, 47%, 93%);
	--color-card-title:hsl(228, 12%, 44%);
	--color-toggle:hsl(230, 22%, 74%);

}

body.dark{
	--bg: hsl(230, 17%, 14%);
	--color-heading:#ffffff;
	--color-text:hsl(228, 34%, 66%);
	--color-card-bg:hsl(228, 28%, 20%);
	--color-card-bg-hover:hsl(228, 28%, 27%);
	--color-card-title:hsl(228, 12%, 44%);
	--color-toggle: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%) );
}
body {
	font-family: 'Inter', sans-serif;
	line-height: 1;
	background-color: var(--bg);
	font-weight:400;
	position:relative;
}

body.light:before{
	content:'';
	position:absolute;
	z-index:-1;
	height: 246px;
	width: 100%;
	background-color: hsl(225, 100%, 98%);
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	@media (min-width: 992px) {
		border-bottom-left-radius:0;
		border-bottom-right-radius:0;
		font-size:28px;
	}
}
h1{
	@media (min-width: 992px) {
		font-size:28px;
	}
	font-size:25px;
	font-weight: 700;
	color: var(--color-heading);
}

h2{
	padding:50px 0 20px 0;
	font-size:23px;
	font-weight: 700;
	color: var(--color-heading);
}

.card, .card-small{
	color: var(--color-text);
}

.card{}

span.subtitle{
	display:block;
	padding-top:7px;
	font-size:14px;
	font-weight: 700;
	color: var(--color-text);
	padding-bottom: 20px;
	border-bottom:1px solid var(--color-text);
	@media (min-width: 992px) {
			border-bottom:0 none;
	}
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1{
  font-family: 'Inter', sans-serif;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
	position: absolute;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 55px;
	height: 26px;
	display: block;
	border-radius: 30px;
	position: relative;
	top:-5px;

	background-image:
    linear-gradient(
		90deg,
      hsl(210, 78%, 56%),
			hsl(146, 68%, 55%)
    );

}

label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: var(--bg);
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: var(--color-toggle);
}

input:checked + label:after {
	left: calc(100% - 3px);
	transform: translateX(-100%);
}

label:active:after {
	width: 30px;
}

.onoffswitch{
	display: flex;
	flex-direction: row;
	justify-content:space-between;

	padding:23px 0 40px 0;
	span{
		font-weight:bold;
		padding: 0;
		@media (min-width: 992px) {
			padding: 0 2px;
		}
		height: 23px;
		color:var(--color-heading);
	}
}

.container{
	max-width: 1100px;
	margin: 0 auto;
	border: 0px solid red;
	padding:0 20px;
}

.cards-top{
	display: flex; /* or inline-flex */
	flex-direction: column;

	@media (min-width: 376px) {
	flex-direction: row;
	}

	// border: 2px solid green;
	justify-content:space-between;
	flex-wrap:wrap;

	.instagram:before{
		background: rgba(179,113,6,1);
		background: -moz-linear-gradient(left, rgba(179,113,6,1) 0%, rgba(148,44,98,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,113,6,1)), color-stop(100%, rgba(148,44,98,1)));
		background: -webkit-linear-gradient(left, rgba(179,113,6,1) 0%, rgba(148,44,98,1) 100%);
		background: -o-linear-gradient(left, rgba(179,113,6,1) 0%, rgba(148,44,98,1) 100%);
		background: -ms-linear-gradient(left, rgba(179,113,6,1) 0%, rgba(148,44,98,1) 100%);
		background: linear-gradient(to right, rgba(179,113,6,1) 0%, rgba(148,44,98,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b37106', endColorstr='#942c62', GradientType=1 );
	}
	.facebook:before{
		background: hsl(195, 100%, 50%);
	}
	.twitter:before{
		background:hsl(203, 89%, 53%)
	}
	.youtube:before{
		background:hsl(348, 97%, 39%)
	}

	.card:before{
		content:'';
		height:5px;
		width: 100%;
		position:absolute;
		left:0;
		top:0;
		right:0;
		z-index:100;
	}
	.facebook{
		.social:before{
			background-image: url('images/icon-facebook.svg')!important;
		}
	}
	.twitter{
		.social:before{
			background-image: url('images/icon-twitter.svg')!important;
		}
	}
	.instagram{
		.social:before{
			background-image: url('images/icon-instagram.svg')!important;
		}
	}
	.youtube{
		.social:before{
			background-image: url('images/icon-youtube.svg')!important;
		}
	}

		.card{
			margin:10px 0;
			position:relative;
			background:var(--color-card-bg);
			flex-basis: 100%;
			border-radius:5px;
			overflow: hidden;
			margin-bottom:10px;

			@media (min-width: 376px) {
				flex-basis: 49%;
			}
			@media (min-width: 768px) {
				flex-basis: 23%;
			}

			.wrapper{
				padding: 26px 0;
				overflow:hidden;

				span{
					display: block;
					text-align:center;
				}
				.social{
					font-weight: 700;
				}

				.social:before{
					content:'';
					display: inline-block;
					position: relative;
					width:22px;
					height:22px;
					background-repeat:no-repeat;
					background-position: center center;
					position: relative;
					top:6px;
					left:-5px;
				}

				.social,.number-status{
					font-size:12px;
					position: relative;
					font-weight:700;
				}
				.number{
					font-size:30px;
					font-size:3rem;
					padding:24px 0 7px 0;
					color: var(--color-heading);
				}
				.number-text{
					font-size: 12px;
					font-weight:400;
					text-transform: uppercase;
					letter-spacing: 4px;
					padding:0 0 23px 0;
				}
			}
		}
	}

.cards-bottom{
	display: flex; /* or inline-flex */
	flex-direction: column;

	@media (min-width: 376px) {
	flex-direction: row;
	}

	// border: 2px solid green;
	justify-content:space-between;
	flex-wrap:wrap;

	.card-small{
		background:var(--color-card-bg);
		flex-basis: 100%;
		margin-bottom: 20px;

		@media (min-width: 376px) {
			flex-basis: 49%;

		}
		@media (min-width: 768px) {
			flex-basis: 23%;
		}

		border-radius:5px;
		height:126px;

		.wrapper{
			padding: 26px;
			display: flex;
			flex-direction: row;
			flex-wrap:wrap;


			.card-header{
				font-weight: bold;
				font-size:85%;
				flex-basis: 100%;
				// background:yellow;
				padding-bottom: 26px;
			}

			.card-footer{
				border:1px dotted black;
			}

			.number{
				flex-grow:1;
				font-size:20px;
				font-size:2rem;
				margin-top: auto;
					color: var(--color-heading);
			}
		}
	}
	.social{
		.card-header:after{
			content:'';
			display:inline-block;
			width:20px;
			height:20px;
			float:right;
			background-repeat:no-repeat;
			background-position: center center;
		}

	}
	.facebook .card-header:after{
			background-image:url('images/icon-facebook.svg');
	}
	.instagram .card-header:after{
			background-image:url('images/icon-instagram.svg');
	}
	.twitter .card-header:after{
			background-image:url('images/icon-twitter.svg');
	}
	.youtube .card-header:after{
			background-image:url('images/icon-youtube.svg');
	}
}

.number{
	font-family:'Inter';
	font-weight:700;
}

header{
	padding:40px 0 20px 0;
	display:flex;
	flex-direction: column;
	@media (min-width: 992px) {
		flex-direction:row;
	}
	justify-content: space-between;
}

.number-status{
	margin-top: auto;
	font-size:12px;
	position: relative;
	font-weight:700;
}
.number-status:before{
	content:'';
	display: inline-block;
	position: relative;
	width:10px;
	height:7px;
	border:0px solid red;
	background-repeat:no-repeat;
	background-position: center center;
	position:relative;
	left:-5px;
}

.card:hover, .card-small:hover{
	cursor:pointer;
	background-color:var(--color-card-bg-hover)
}
.green{
	color: hsl(163, 72%, 41%);
}
.green:before{
	background-image:url('images/up-arrow.svg');
}
.red{
	color: hsl(356, 69%, 56%);
}
.red:before{
	background-image:url('images/down-arrow.svg');
}
